*{
    margin: auto;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.btn-primary{
    background-color: white;
    padding: 15px 22px;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 20px;

}
.btn-secondary{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    margin-top: 10px;
}
.od13{
    color: #0D1321;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
}
nav li{
    list-style: none;
}
/* banner style */
.banner-title{
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    width: 998px;
    height: 136px;
    margin: auto;
}
.banner-profile-pic{
    width: 240.28px;
    height: 240;
}
.banner{
    text-align: center;
    background-image: url("../assets/Hero-bg.png");
}
.banner-content{
    text-align: center;
    padding: 26px 221px;
}
/* section start */

.section{
    text-align: center;
    background-color: #e6ecf5;
    margin: 130px 150px;
    padding: 80px 97px;
}
.section-title{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
}
.section-dec{
    font-weight: normal;
    font-size: 16px;
}
.Target{
    display: flex;
    gap: 60px;
    margin: 70px 150px;  
     
}
.Targets{
    margin: 97px;
    margin: 130px 150px;
}
.target-dec{
    padding: 30px;
}

.html{
    background-color: #feded6;
    padding:40px;
}
.css{
    background-color: #dce6f8;
    padding:40px;

}
.js{
    background-color: #f4eec3;
    padding:40px;
}
.text-center{
    text-align: center;
}
/* sec style */
.sec-div1{
    text-align: left;
    margin: 0px 32px;
}
.sec-div2{
    text-align: left;
    margin: 0px 32px;
}
.sec-div3{
    text-align: left;
    margin: 0px 32px;
}
.sec-title{
    font-weight: bold;
    font-size: 20px;
    color: #3d4048;
}
.sec1{
    font-size: 32px;
    display: flex;
    justify-content: space-around; 
    padding: 30px 48px;
    
}
.sec2{
    text-align: left;
    font-size: 32px;
    display:flex;
    justify-content: space-around;
    padding: 58px 48px;
}
.sec3{
    font-size: 32px;
    display: flex;
    justify-content: space-around; 
    padding: 30px 48px;
}
.sec-dec{
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
    
}

/* learn button */
.learn{
    font-weight: 600px;
    font-size: 20px;
    padding: 12px 20px;
    color: #0D1321;
}
.learn-more2{
    font-weight: bold;
    font-size: 16px;

}
/* support section  */
.support{
    margin: 130px 150px;
    padding: 64px 48px;
    background-image: url('../assets/handshake.jpg')
    

}
.support-title{
    font-weight: bold;
    font-size: 32px;
}
